.navbar {
    background-color: var(--medium-grey);
    color: var(--oat-white);
    padding-top: 15px;
    padding-bottom: 15px;
  }

.navbar-container {
  padding-left: 30px;
  padding-right: 30px;
}

[data-bs-theme=dark] .navbar-toggler-iconS {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28211, 192, 46, 1.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

[data-bs-theme=dark] .navbar-toggler {
  border: transparent;
}

.navbar[data-bs-theme=dark] {
  --bs-navbar-color: var(--oat-white);
  --bs-navbar-active-color: var(--neo-bright-yellow);
}


.navbar-brand {
  color: var(--oat-white);
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: large;
  position: relative;
}

.nav-link-home {
  color: var(--oat-white);
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: large;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link-home:hover {
  color: var(--neo-bright-yellow);
}

.nav-link-home::after {
  content: '';
  opacity: 0;
  transition: width 0.2s ease, opacity 0.2s ease;
  height: 10%;
  width: 0;
  background-color: var(--medium-slate);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link-home:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-link-about {
  color: var(--oat-white);
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: large;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link-about:hover {
  color: var(--neo-red);
}

.nav-link-about::after {
  content: '';
  opacity: 0;
  transition: width 0.2s ease, opacity 0.2s ease;
  height: 10%;
  width: 0;
  background-color: var(--medium-slate);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link-about:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-link-experience {
  color: var(--oat-white);
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: large;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link-experience:hover {
  color: var(--neo-shadow-violet);
}

.nav-link-experience::after {
  content: '';
  opacity: 0;
  transition: width 0.2s ease, opacity 0.2s ease;
  height: 10%;
  width: 0;
  background-color: var(--medium-slate);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link-experience:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-link-projects {
  color: var(--oat-white);
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: large;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link-projects:hover {
  color: var(--neo-shadow-green);
}

.nav-link-projects::after {
  content: '';
  opacity: 0;
  transition: width 0.2s ease, opacity 0.2s ease;
  height: 10%;
  width: 0;
  background-color: var(--medium-slate);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link-projects:hover::after {
  opacity: 1;
  width: 100%;
}

.navbar-text {
  color: var(--oat-white);
  font-weight: bold;
  font-size: large;
  position: relative;
}


