.App {
  display: flex;
  margin: auto;
  text-align: center;
  background-color: var(--medium-grey);
  color: var(--oat-white);
}

.r {
  color: var(--neo-light-violet) !important;
}

.g {
  color: var(--neo-green) !important;
}

.y {
  color: var(--neo-bright-yellow) !important;
}

.b {
    color: var(--hot-pink) !important;
}

#content {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

.section-header {
  text-align: left;
  padding-bottom: 5px;
  margin-left: 0;
  width: 100%;
  font-size: 46px;
  font-weight: bold;
}

.hline {
  display: flex;
  border-bottom: 3px solid;
  content: "";
  width: 50%;
  height: 1px;
  background-color: transparent;
  margin-bottom: 40px;
}

